.fundo {
    background: url('../imgs/freebase_fundo.png') repeat;
}

#logo {
    margin: 30px;
}

.fundo form {
    margin-top: 20px;
    margin-bottom: 20px
}

.form_center {
    margin: 0 auto;
}

.item-small {
    margin: 10px;
    height: 100px;
    overflow: hidden;
}

.item-small .glyphicon {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.item-small a, .item-small a:hover {
    color: black;
    text-decoration: none;
    max-height: 200px;
    overflow: hidden;
}

.item {
    margin: 10px;
    height: 300px;
    overflow: hidden;
}

.item .glyphicon {
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.item a, .item a:hover {
    color: black;
    text-decoration: none;
    max-height: 200px;
    overflow: hidden;
}

.item > img{
    max-height: 150px;
}

h3.group:first-letter {
    text-transform:uppercase;
}

#meta {
    margin-top: 10px;
}

.label_group {
    display: table;
    text-align: center;
    margin: 0 auto;
}

.label_group .thumbnail {
    display: inline-block;
    margin-right: 5px;
}

.label {
    margin: 5px;
    display: inline-block;
}