.wy-nav-content { max-width: 99% }
.toctree-l3 { margin-left: 15px; font-size: 12px !important;}

@media screen and (max-width: 768px) {

    .rst-content {
        margin-top: 65px;
    }

    .wy-nav-top {
        display: block;
        position: fixed;
        width: 100%;
    }
}